@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@200&family=Red+Hat+Text:wght@700&display=swap');

body {
    font-family: 'Red Hat Text';
    font-size: 11px;
}

h1 {
    margin-top: 101px;
    color: #ffffffd4;
    display: flex;
    justify-content: center;
}

#dos {
    font-size: 45px;
    z-index: 1;
    position: absolute;
    margin-top: 513px;
}

#redS {
    margin: 8px;
    color: #ede1fb5c;
}

#redS:hover {
    color: #dd7272;
}

#fin {
    margin-top: 102px;
}

.portada {
    background: rgb(31 21 40);
    background-image: url(./imag/bg-stars.svg);
    color: white;
    overflow-x:hidden;

    width: 100%;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: .5s ease-out all;
} 

.portada.oculta {
    transform: translateY(100%);
}

#cuentaR {
    display: flex;
    align-items: center;
    align-content: center;
    /* margin */
}

.simply-section {
    width: 138px;
    height: 138px;
    margin: 15px;
    border-radius: 20px;
    margin-top: 81px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 15px 0 rgb(74 10 114 / 75%);
    background: linear-gradient(15deg, #74687f, #00000030);
}

.simply-amount {
    display: block;
    font-size: 50px;
    color: #dd7272;
}

.simply-word {
    font-size: 13px;
    color: #bebebe;
}

.contenedor {
    width: 945px;
    height: 616px;
    margin-left: 219px;
}

footer {
    background: #bebebe;
    background-image: url(./imag/bg-stars.svg);
}
